@import "./styleFont";
@import "./styleButton";
@import "./styleInput";

.container {
  max-width: 413px;
  padding: 35px 33px 42px;
  margin: 120px auto 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;

  > h1 {
    @extend %Hfont;
  }

  //Profile -----------------------------------
  .name {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $FontColor;

    &:after {
      content: '';
      text-align: right;
      margin: 0 0 0 8px;
      width: 16px;
      height: 16px;
      background: url("../img/prof/changeName.png") 0 0 /cover no-repeat;
    }
  }

  @extend %input;

  .email {
    margin: 14px 0 29px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.5;
  }

  .save {
    position: absolute;
    bottom: 30%;
    right: 0;
    background: #366EFF;
    border-radius: 2px;
    padding: 0 10px;
    height: 24px;

    font-weight: 400;
    font-size: 12px;
    color: #FFF;
  }

  > button {
    position: relative;
    padding: 8px 43px;
    background: #FCFCFC;
    box-shadow: 0px 2px 10px rgba(109, 109, 109, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 30px;

    &:before {
      position: absolute;
      top: 25%;
      left: 20px;
      content: '';
      width: 16px;
      height: 16px;
      background: url("../img/prof/logOut.png") 0 0/cover no-repeat;
    }
  }

  //Для компоненты check email ---------------
  > div {
    width: 108px;
    height: 108px;
    margin: 29px auto;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  > span {
    margin: 31px 0 -10px;
  }

  a > button {
    @extend %button;
    margin-bottom: 0;
  }

  //Для компонентов с формой -----------------
  .form {
    > span {
      text-align: start;
    }

    @extend %input;

    .blockCheckbox {
      display: flex;
      align-items: center;
      margin: 16px 0 0;

      > input {
        height: 18px;
        width: 18px;
        margin: 0 12px 0 0;
      }
    }

    > a {
      > span {
        display: block;
        margin: 28px 0 9px;
        list-style-type: none;
        text-decoration: none;

        text-align: right;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $FontColor;
      }
    }

    > button {
      @extend %button;
    }
  }

  span {
    display: block;
    line-height: 24px;

    &:last-child {
      font-weight: 600;
      font-size: 16px;
      text-decoration-line: underline;
      color: #366EFF;
      line-height: 24px;
      margin: 11px 0 0;
    }
  }

  .disabl {
    opacity: 0.2;
  }
}

