@import "./styleFont";
@import 'mixins';

%input{
  .blockInput {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    flex-direction: column;
    width: 100%;
    justify-content: end;

    &:nth-child(1) {
      margin: 41px 0 34px;
    }
    &:nth-child(2) {
      margin: 0 0 34px;
    }

    input {
      @include position(block, relative, 0 ,0,'','','','');
      display: block;
      background: transparent;
      width: 100%;
      padding: 6px 12px 6px;
      //border-bottom: 1.58px solid rgba(0, 0, 0, 0.4);
      border: $borderCont;
      border-radius: $borderRadiusCont;

      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: $FontColor;

      z-index: 2;

      &:-webkit-autofill {
        transition: all 5000s ease-in-out 0s;
      }
      &:focus + label {
        transform: translate(0, -30px) scale(0.8);
        transform-origin: -50px top;
        transition: all .3s ease-in-out;
      }
    }

    label {
      position: absolute;
      z-index: 1;
      top: 20%;
      left: 12px;

      font-size: 16px;
      text-align: start;
      white-space: nowrap;

      color: $fontLabelP;
      transition: all .3s ease-in-out;
    }

    .modLabel {
      transform: translate(0, -30px) scale(0.8);
      transform-origin: -50px top;
      transition: all .3s ease-in-out;
    }
    >p{
      margin: 3px 0 0;
      color: $errorField;
      height: 14px;
      text-align: start;
    }
    .error{
      border-bottom: $errorBorder;
    }
    .showInput{
      position: absolute;
      top: 15%;
      right: 12px;

      width: 20px;
      height: 20px;

      background: transparent;

      cursor: pointer;

      z-index: 2;
    }
  }
}

