//BUTTON ------------------------------------------
$bcgColorBut: #8C61FF;
$shadowBut: 0px 4px 18px rgba(140, 97, 255, 0.35);
$borderBut: 4px;
$bcColorHeadCont: #171717;

//h1 для окон/переменные ------------------------
$FontColor: #fff;

//Label ------------------------
$fontLabelP: #808080;

//Continers --------------------
$borderCont: 1px solid #313131;
$borderRadiusCont: 2px;
$errorField: red;
$errorBorder: 1px solid red;

//SVG -------------------------
$changeIcon: #fff;
$changeIconBC: #4C4C4C;
$changeIconBSH: 0px 2px 10px rgba(109, 109, 109, 0.25);
$changeIconR: 4px;

//ФОн -----------
$bc: black;